## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,11,Puerto Ayora,EC,76.96,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,17,Waspan,NI,87.48,overcast clouds,14.7419,-83.9717,Hostal casa de la rose
2,19,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
3,22,Hambantota,LK,79.14,clear sky,6.1241,81.1185,Bungalow 63
4,26,Sawakin,SD,85.78,overcast clouds,19.1059,37.3321,فندق الدويم

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]== "Brigantine")]
vacation_end = vacation_df.loc[(vacation_df["City"]== "Brigantine")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]== "Williamsburg")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]== "Laurinburg")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"]== "Elizabeth City")]

In [90]:
from IPython.display import display
display(vacation_start)
display(vacation_stop1)
display(vacation_stop2)
display(vacation_stop3)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
58,207,Brigantine,US,86.32,clear sky,39.4101,-74.3646,Legacy Vacation Resorts Brigantine Beach

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
11,51,Williamsburg,US,86.76,overcast clouds,37.2707,-76.7075,Comfort Suites Williamsburg Historic Area

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
110,381,Laurinburg,US,85.1,few clouds,34.7741,-79.4628,"Holiday Inn Express & Suites Laurinburg, an IH..."

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
119,415,Elizabeth City,US,87.03,few clouds,36.2946,-76.2511,Hampton Inn Elizabeth City

In [79]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3} ')

Start: (39.4101, -74.3646), End: (39.4101, -74.3646)
Stop 1: (37.2707, -76.7075), Stop 2: (34.7741, -79.4628), Stop 3: (36.2946, -76.2511)

In [80]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [84]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,207,Brigantine,US,86.32,clear sky,39.4101,-74.3646,Legacy Vacation Resorts Brigantine Beach
1,51,Williamsburg,US,86.76,overcast clouds,37.2707,-76.7075,Comfort Suites Williamsburg Historic Area
2,381,Laurinburg,US,85.10,few clouds,34.7741,-79.4628,"Holiday Inn Express & Suites Laurinburg, an IH..."
3,415,Elizabeth City,US,87.03,few clouds,36.2946,-76.2511,Hampton Inn Elizabeth City

In [85]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [86]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))